* {
    box-sizing: border-box;
    margin:0;
}

html {
    margin: 0;
    padding: 0;
}

p, button {
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-weight: bold;
}

button {
    padding: 10px 20px;
    content: 'hello';
    border-radius:25px;
    transition: 500ms;
    border:1px solid black;
    font-size: 2em;
}

button:hover {
    padding: 10px 50px;
    cursor: pointer;
}

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
}

.mixed-message-container {
    width: 100%;
}

#result {
    font-size: 3em;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    
    #result {
        font-size: 2em;
        margin-bottom: 50px;
    }

    button {
        font-size: 1em;
    }

    button:hover {
        padding: 10px 20px;
        cursor: pointer;
    }
}
